body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.container {
    display: flex;
    width: 60vh;
    height: 60vh;
    margin: 5rem;
}

.column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.grid {
    border: .1rem solid black;
    margin: 0rem;
    font-size: 1.5rem;
    transition: all .01s ease;
    flex-grow: 1;
    width: auto;
    height: auto;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
}

.hovering {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

.drawn {
    background: black;
}

.size {
    text-align: center;
}
